:root{
    --tonada-primary-color:#1c3879;
}
html,
body {
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}

.form-result-code{
    display: flex;
    flex-direction: column;
    background-color: var(--tonada-primary-color);
    color: white;
    min-width: 200px;
    min-height: 200px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
}