:root {
    --tonada-tn-primary-color: #1c3879;
    --tonada-tn-secondary-color: #607eaa;
    --tonada-tn-success-color:#c5fca5;
    --tonada-tn-black: #3a3a3a;
    --tonada-tn-white: #ffffff;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

code.snippet {
    color: var(--tonada-tn-primary-color);
    background-color: var(--tonada-tn-black);
}

pre {
    font-family: monospace;
    padding: 8px;
    background-color: var(--tonada-tn-black);
    color: var(--tonada-tn-white);
    overflow-x: auto;
    overflow-y: auto;
    max-height: 350px;
}

pre code {
    font-family: monospace;
    background-color: var(--tonada-tn-black);
    color: var(--tonada-tn-white);
}

pre code .class-name {
    color: var(--tonada-tn-success-color);
}

.form-result-code {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--tonada-tn-primary-color);
    color: white;
    min-width: 200px;
    min-height: 200px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
}