@import url("./_layout.css");

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  .layout {
    font-size: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  background: #373b44;
  background: -webkit-linear-gradient(
    to right bottom,
    var(--tonada-tn-primary-color),
    var(--tonada-tn-secondary-color)
  );
  background: linear-gradient(
    to right bottom,
    var(--tonada-tn-primary-color),
    var(--tonada-tn-secondary-color)
  );
  color: white;
  box-sizing: border-box;
  height: fit-content;
  padding: 20px 15px;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 10px 10px;
  }
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

@media only screen and (max-width: 1000px) {
  .main-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.more-details h3 {
  margin: 0;
  padding: 0;
}

.more-details p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

@media only screen and (max-width: 1000px) {
  .nav {
    margin-top: 15px;
  }
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.4em 0.8em;
  background-color: var(--tonada-tn-secondary-color);
  box-sizing: border-box;
  border-radius: 8px;
}

.nav a.active {
  background-color: var(--tonada-tn-primary-color);
}

button.scroll-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: var(--tonada-tn-secondary-color);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 8px;
  z-index: 100;
}

button.scroll-top svg {
  fill: white;
  width: 35px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border: 1px solid var(--tonada-tn-secondary-color);
  border-radius: 4px;
  margin: 10px 0;
}

.input-container .submission-button {
  display: flex;
  justify-content: flex-end;
}

.input-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-boxes .box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (max-width: 1000px) {
  .input-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-boxes .box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
  }
}

#buttons-section > div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#checkbox-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#checkbox-section button {
  margin-top: 15px;
}

#checkbox-section > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
