$accordion-prefix: #{$prefix}-accordion;
.#{$accordion-prefix} {
  --#{$prefix}-primary-color: #{map-get($colors, "primary")};
  --#{$prefix}-border-width: 1px;
  --#{$prefix}-border-color: #{lighten(map-get($colors, "primary"), 10%)};
}
.#{$accordion-prefix} {
  @include flex-column;
  @include border-radius;
  @include box-sizing;
  overflow-y: hidden;
  padding: 2px;
  & > &-section {
    @include flex-column;
    overflow: hidden;
    & > .#{$accordion-prefix}-header {
      @include flex-row;
      @include padding;
      @include clickable;
      align-items: center;
      width: 100%;
      background-color: lighten(map-get($colors, "primary"), 60%);
      border-top: 1px solid var(--#{$prefix}-border-color);
      border-left: 1px solid var(--#{$prefix}-border-color);
      border-right: 1px solid var(--#{$prefix}-border-color);
      &::after {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: green;
      }
    }

    & > .#{$accordion-prefix}-content {
      @include padding;
      border-top: 1px solid var(--#{$prefix}-border-color);
      border-left: 1px solid var(--#{$prefix}-border-color);
      border-right: 1px solid var(--#{$prefix}-border-color);
      overflow-y: hidden;
      transition: all 300ms ease-in-out;
    }

    &.#{$prefix}-closed {
      & > .#{$accordion-prefix}-content {
        border-top: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  & > .#{$accordion-prefix}-section:last-child {
    // & > .#{$prefix}-accordion-header {
    //   border-bottom: 0;
    // }

    & > .#{$accordion-prefix}-content {
      border-bottom: var(--#{$prefix}-border-width) solid
        var(--#{$prefix}-border-color);
    }
    &.#{$prefix}-closed {
      & > .#{$accordion-prefix}-header {
        border-bottom: 0;
      }
    }
  }
}
