$prefix: "tornada";

$colors: (
  primary: #1c3879,
  secondary: #607eaa,
  success: #30dd78,
  danger: #e78ea9,
);
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$input-shadow-box: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
$input-focused-shadow-box: 0px 0px 1px 1px rgba(map-get($colors, "primary"), 1);
