.#{$prefix}-control {
  --#{$prefix}-shadow-box: $input-shadow-box;
  box-sizing: border-box;
  position: relative;
  * {
    box-sizing: border-box;
    font-size: var(--#{$prefix}-shadow-box);
  }
  .#{$prefix}-input {
    border: 0;
    box-shadow: $input-shadow-box;
    padding: 0.4rem 0.5rem;
    width: 100%;
    transition: all 0.1s;
    outline: none;
    border-radius: $border-radius;
    &:focus {
      outline: none;
      box-shadow: $input-focused-shadow-box;
    }
  }
}

.#{$prefix}-control.#{$prefix}-sm {
  font-size: 0.8rem;
}
.#{$prefix}-control.#{$prefix}-md {
  font-size: 1rem;
}
.#{$prefix}-control.#{$prefix}-lg {
  font-size: 1.2rem;
}
.#{$prefix}-control.#{$prefix}-xl {
  font-size: 1.5rem;
}

.#{$prefix}-control.floating-label {
  label {
    position: absolute;
    top: -0.6em;
    left: 0.1em;
    font-size: 1em;
    transition: all 0.1s;
    background-color: #ffffff;
  }
  .#{$prefix}-input::placeholder {
    opacity: 0;
  }

  .#{$prefix}-input:placeholder-shown + label {
    left: 0.5em;
    top: 0.3em;
    background-color: transparent;
  }
  .#{$prefix}-input:placeholder-shown:focus + label {
    background-color: #ffffff;
  }
  .#{$prefix}-input:focus + label {
    top: -0.6em;
    left: 0.1em;
    font-size: 0.875em;
  }
}

.#{$prefix}-control.#{$prefix}-input-group {
  box-shadow: $input-shadow-box;
  box-shadow: $input-focused-shadow-box;
  display: flex;
  flex-direction: row;
  background-color: map-get($colors, "secondary");
  border-radius: $border-radius;
  > span {
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    color: #ffffff;
    user-select: none;
    padding: 0 1rem;
  }
  .#{$prefix}-input {
    border: 0;
    box-shadow: none;
    padding: 0.4rem 0.5rem;
    width: unset;
    flex: 1;
    outline: none;
    border-radius: 0px;
    &:focus {
      outline: none;
      box-shadow: $input-focused-shadow-box;
    }
  }
}


