.#{$prefix}-control.#{$prefix}-password {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .#{$prefix}-input  + i {
    position: absolute;
    right: 0.5em;
    opacity: 0.5;
    cursor: pointer;
  }
  .#{$prefix}-input  + i:hover {
    opacity: 1;
  }
  .#{$prefix}-input:focus:not(.#{$prefix}-input:placeholder-shown) + i {
    opacity: 1;
  }

}

.#{$prefix}-control.#{$prefix}-password.floating-label {
  .#{$prefix}-input + label + i {
    position: absolute;
    right: 0.5em;
    opacity: 0.5;
    cursor: pointer;
  }
  .#{$prefix}-input + label + i:hover {
    opacity: 1;
  }
  .#{$prefix}-input:focus:not(.#{$prefix}-input:placeholder-shown) + label + i {
    opacity: 1;
  }
}
