@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin font-size {
  font-family: $tn-font-family;
  font-size: $tn-font-size;
}
@mixin border-radius {
  border-radius: $tn-border-radius;
}

@mixin box-sizing {
  * {
    box-sizing: border-box;
  }
}

@mixin padding {
  padding: 0.2em 0.9em;
}

@mixin clickable {
  cursor: pointer;
}


