@import "./core.scss";
@import "./icons.scss";
$checkboxPrefix: #{$prefix}-input-checkbox;
.#{$checkboxPrefix} {
  --#{$prefix}-checkbox-primary-color: #{map-get($map: $colors, $key: primary)};
  --#{$prefix}-checkbox-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="white"><path d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"/></svg>');
}
.#{$checkboxPrefix} {
  @include flex-row;
  * {
    box-sizing: border-box;
  }
  cursor: pointer;
  align-items: center;
  user-select: none;
  width: fit-content;
  &>label{
    cursor: pointer;
  }
  &-box {
    @include flex-row;
    @include border-radius;
    margin-left: 8px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    width: 24px;
    height: 24px;
    background-color: white;
    & > i {
      display: none;
    }
  }
}

.#{$checkboxPrefix}.#{$checkboxPrefix}-checked {
  .#{$checkboxPrefix}-box {
    background-color: var(--#{$prefix}-checkbox-primary-color);
    & > i {
      display: block;
      background-image: var(--#{$prefix}-checkbox-icon);
    }
  }
}

.#{$checkboxPrefix}.#{$checkboxPrefix}-disabled {
  .#{$checkboxPrefix}-box {
    background-color: #f5f5f5;
  }
}
