@import "./core.scss";
@import "./icons.scss";
.#{$prefix}-select {
  --#{$prefix}-font-size: 1rem;
  --#{$prefix}-header-tag-background-color: #{map-get($tn-colors, "primary")};
  --#{$prefix}-header-tag-color: #{map-get($tn-colors, "white")};
  --#{$prefix}-menu-background: #{map-get($tn-colors, "white")};
  --#{$prefix}-selected-option-background-color: #{map-get($tn-colors, "primary")};
  --#{$prefix}-selected-option-color: #{map-get($tn-colors, "white")};
  --#{$prefix}-selected-option: rgba(0, 0, 0, 0.2);
  --#{$prefix}-shadow: #{$tn-select-shadow-box};
  --#{$prefix}-disabled-bg-color:#{$tn-select-disabled-bg-color};
  --#{$prefix}-select-height: 3em;
}

.#{$prefix}-select {
  @include border-radius;
  @include flex-column;
  box-sizing: border-box;
  min-height: var(--#{$prefix}-select-height);
  position: relative;
  box-shadow: var(--#{$prefix}-shadow);
  * {
    box-sizing: border-box;
  }
  &-close-icon {
    @extend .#{$prefix}-ic;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: calc(-0.1em +  35%);
    border-radius: 50%;
    background-color: var(--#{$prefix}-header-tag-color);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="var(--#{$prefix}-header-tag-background-color)" height="48" width="48"><path d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"/></svg>');
  }
  &-expand-icon {
    @extend .#{$prefix}-ic;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: calc(-0.1em +  34%);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z"/></svg>');
    &.#{$prefix}-expanded {
      transform: rotate(-180deg);
    }
  }
  &-header {
    @include flex-row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 6px;
    padding-right: 5em;
    gap: 8px;
    min-height: var(--#{$prefix}-select-height);
    &-option {
      user-select: none;
    }
    &-tag {
      @include border-radius;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      user-select: none;
      height: 2.5em;
      padding: 6px 10px;
      background-color: var(--#{$prefix}-header-tag-background-color);
      color: var(--#{$prefix}-header-tag-color);
      outline: 0;
      border: 0;
      font-size: 0.9em;
      .#{$prefix}-remove-button {
        @extend .#{$prefix}-ic;
        @extend .#{$prefix}-ic-close;
        cursor: pointer;
        display: inline-block;
        outline: 0;
        border: 0;
        width: 1.2em;
        height: 1.2em;
        margin-left: 5px;
        border-radius: 50%;
        background-color: var(--#{$prefix}-header-tag-color);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="var(--#{$prefix}-header-tag-background-color)" height="48" width="48"><path d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"/></svg>');
      }
    }
  }
  &-option {
    padding: 6px 14px;
    cursor: pointer;
    user-select: none;
    outline: 0;
    border: 0;
    background: transparent;
    text-align: start;
    &-selected {
      background-color: var(--#{$prefix}-selected-option-background-color);
      color: var(--#{$prefix}-selected-option-color);
    }
    &:not(&-selected):hover {
      background-color: lighten(map-get($tn-colors, "primary"), 60%);
      color: black;
    }
  }
  &-menu {
    @include border-radius;
    @include flex-column;
    z-index: $tn-select-menu-z-index;
    position: absolute;
    left: 0;
    width: 100%;
    gap: 4px;
    box-shadow: var(--#{$prefix}-shadow);
    margin-top: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--#{$prefix}-menu-background);
    min-height: 50px;
    max-height: 150px;
    overflow-y: auto;
    &.#{$prefix}-hide {
      display: none;
    }
  }

  &-disabled {
    background-color: var(--#{$prefix}-disabled-bg-color);
    &-header {
      &-option {
        display: none;
      }
      &-tag {
        display: none;
      }
    }
  }
}
