@import "./core.scss";
.#{$prefix}-select {
  --#{$prefix}-background-color: #{map-get($colors, "primary")};
  --#{$prefix}-active-page: #{map-get($colors, "primary")};
  --#{$prefix}-page: #{map-get($colors, "secondary")};
  --#{$prefix}-shadow: #{$select-shadow-box};
  --#{$prefix}-selected-option: rgba(0, 0, 0, 0.2);
}

.#{$prefix}-select {
  @include border-radius;
  @include flex-column;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  height: 45px;
  position: relative;
  box-shadow: var(--#{$prefix}-shadow);
  &-header {
    @include flex-row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 4px;
    gap: 4px;
    &-option {
      box-shadow: var(--#{$prefix}-shadow);
    }
    &-tag {
      box-shadow: var(--#{$prefix}-shadow);
    }
  }
  &-option {
    outline: 0;
    border:0;
    background: transparent;
    text-align: start;
    &-selected{
      background-color: var(--#{$prefix}-selected-option);
    }
  }
  &-menu {
    @include border-radius;
    @include flex-column;
    @include padding;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    gap: 4px;
    box-shadow: var(--#{$prefix}-shadow);
    margin-top: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
