@import "./core.scss";
$sidenav-prefix: #{$prefix}-sidenav;
.#{$sidenav-prefix} {
  --#{$sidenav-prefix}-menu-background: #{map-get($tn-colors, "white")};
  --#{$sidenav-prefix}-menu-item-background: #{map-get($tn-colors, "secondary")};
  --#{$sidenav-prefix}-text-color: #{map-get($tn-colors, "white")};
  --#{$sidenav-prefix}-width: 250px;
  --#{$sidenav-prefix}-item-height: 65px;
  --#{$sidenav-prefix}-extend-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="white" height="48" width="48"><path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z"/></svg>');
}
.#{$sidenav-prefix} {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  * {
    box-sizing: border-box;
  }
  & > .#{$sidenav-prefix}-menu {
    position: relative;
    width: var(--#{$sidenav-prefix}-width);
    background: var(--#{$sidenav-prefix}-menu-background);
  }

  & > .#{$sidenav-prefix}-content {
    width: calc(100vh - var(--#{$sidenav-prefix}-width));
  }
}

.#{$sidenav-prefix}-menu-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.#{$sidenav-prefix}-menu-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  & > .#{$sidenav-prefix}-menu-item-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--#{$sidenav-prefix}-menu-item-background);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    text-decoration: none;
    & > .#{$sidenav-prefix}-menu-item-header-title {
      margin: 0 5px;
      color: var(--#{$sidenav-prefix}-text-color);
    }
    & > .#{$sidenav-prefix}-extend-icon {
      right: 20px;
      position: absolute;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: var(--#{$sidenav-prefix}-extend-icon);
    }
    & > .#{$sidenav-prefix}-menu-icon {
      display: grid;
      align-content: center;
      justify-content: center;
      width: 35px;
    }
  }

  &.#{$sidenav-prefix}-menu-item-closed {
    & > .#{$sidenav-prefix}-menu-item-header {
      & > .#{$sidenav-prefix}-extend-icon {
        transform: rotate(-90deg);
      }
    }

    & > .#{$sidenav-prefix}-menu-items {
      height: 0px;
      padding: 0;
      margin: 0;
    }
  }
}

.#{$sidenav-prefix}-menu > .#{$sidenav-prefix}-menu-items {
  height: calc(100% - 35px);
}
.#{$sidenav-prefix}-menu > .#{$sidenav-prefix}-menu-toggler {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
}

.#{$sidenav-prefix}.#{$sidenav-prefix}-closed {
  .#{$sidenav-prefix}-menu-items {
    & > .#{$sidenav-prefix}-menu-item {
      & > .#{$sidenav-prefix}-menu-item-header {
        justify-content: center;
        & > .#{$sidenav-prefix}-menu-item-header-title {
          display: none;
        }
        & > .#{$sidenav-prefix}-extend-icon {
          display: none;
        }
        & > .#{$sidenav-prefix}-icon {
          display: grid;
          align-content: center;
          justify-content: center;
          width: 35px;
        }
      }
      & > .#{$sidenav-prefix}-menu-items {
        display: none;
      }
    }
  }

  .#{$sidenav-prefix}-menu {
    width: calc(var(--#{$sidenav-prefix}-width) / 5);
  }

  .#{$sidenav-prefix}-content {
    flex: 1;
  }
}

.#{$sidenav-prefix}-floating-menu.#{$sidenav-prefix}-menu-item {
  display: inline-block;
  position: fixed;
  background-color: blue;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  & > .#{$sidenav-prefix}-menu-item-header {

    & > .#{$sidenav-prefix}-menu-item-header-title {
      display: block;
    }
    & > .#{$sidenav-prefix}-menu-icon {
      display: none;
    }
  }
  .#{$sidenav-prefix}-menu-items {
    & > .#{$sidenav-prefix}-menu-item {
      & > .#{$sidenav-prefix}-menu-item-header {
    justify-content: flex-start;
        & > .#{$sidenav-prefix}-menu-item-header-title {
          display: block;
        }
        & > .#{$sidenav-prefix}-extend-icon {
          display: block;
        }
      }
      & > .#{$sidenav-prefix}-menu-items {
        display: block !important;
      }
    }
  }
  &.#{$sidenav-prefix}-floating-menu-hidden {
    display: none;
  }
}
